:root {
  --white: #fff;
  --light-gray: #f5f5f5;
  --dark-gray: #333;
  --green: #00ab35;
  --red: #b20320;
}

body {
  margin: 0;
  color: var(--dark-gray);
  font: 16px sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 100vh;
}
